.login-form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}

.login-modal {
    margin: 0px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    background-color: #7b8a4b;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 0px;
}

.login-button:hover {
    background-color: #f1641e;
    cursor: pointer;
}

.login-field {
    display: grid;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

#demo-link {
    background-color: #7b8a4b;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: -10px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}

#demo-link:hover {
    background-color: #f1641e;
    cursor: pointer;
}

.sign-in-input-modal {
    width: 200px;
}
