
#filter-holder-AllProducts {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      /* gap: 1.25rem; */
      /* margin-top: 1rem; */
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(222,222,222);
}

.filter-AllProducts {
      font-size: 14px;
      font-weight: 200;
}

#sales-banner-AllProducts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(253,217,92);
      padding-bottom: 15px;
      border-left: 12px solid rgb(241,100,30);
      border-right: 12px solid rgb(241,100,30);
}

#up-to-AllProducts {
      font-weight: 100;
      font-size: 75px;
      font-style: italic;
}

#labor-day-AllProducts {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 50px;
      margin-top: -20px;
}

#shop-button-AllProducts {
      background-color: rgb(34,34,34);
      color: white;
      padding: 10px 75px;
      border-radius: 30px;
      margin-top: 10px;
}

#terms-AllProducts {
      font-weight: 100;
      font-size: 12px;
      margin-top: 5px;
}

#productCard-holder-AllProducts {
      display: grid;
      gap: 1.5rem;
      margin: 1rem;
      margin-top: 2rem
}

@media (min-width: 550px) {
      #productCard-holder-AllProducts {
        grid-template-columns: repeat(2, 1fr);
      }
 }

@media (min-width: 850px) {
      #productCard-holder-AllProducts {
        grid-template-columns: repeat(3, 1fr);
      }
}

@media (min-width: 1000px) {
      #productCard-holder-AllProducts {
        grid-template-columns: repeat(4, 1fr);
      }
}
