.review-mini {
    display: flex;
}

.review-container button {
    background-color: none;
    border: none;
}

.review-component {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
