.button-container>button :hover{
 padding: 10px 20px;
 border-radius: 20px;
 position: static;
 cursor: pointer;
}

.forward-button {
 background-color: #7b8a4b;
 color: white;
 border: none
}

.back-button {
 background-color: lightgray;
 color: white;
 border: none;
}

.row {
 display: flex;
 flex-direction: row;
}

.column {
 display: flex;
 flex-direction: column;
}

.center{
 justify-content: center;
 align-items: center;
}


.margin-top{
 margin-top: 20px;
}

.margin-bottom{
 margin-bottom: 30px;
}



.width-btn{
 width: 16rem;
}

.font-size{
 font-size: 20px;
}

