#storefront-entire-page {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

#storefront-inner-div {
      width: 1000px;
}

#my-storefront-sign {
      font-size: 50px;
}

#store-line {
      border-bottom: 3px solid rgb(222,222,222);
}

#storefront-butt {

      text-decoration: none;
      padding: 0 424px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: white;
      background-color: #f1641e;
      text-align: center;
}

#storefront-butt:hover {
      cursor: pointer;
      background-color: #7b8a4b;
      color: black;
}
