#storefront-entire-page {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 20px;
}

#storefront-inner-div {
      width: 900px;
}

#my-storefront-sign {
      font-size: 35px;
      font-weight: 100;

}

#store-line {
      border-bottom: 2px solid rgb(222,222,222);
      /* margin-bottom: 5px; */
}

#storefront-butt {
      width: 100%;
      text-decoration: none;
      padding: 0 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: white;
      background-color: #f1641e;
}

#storefront-butt:hover {
      cursor: pointer;
      background-color: #7b8a4b;
      color: white;
}

#create-butt-bottom-storefront {
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 30px;
      width: 100%;
      background-color: rgb(204,204,204);
      /* background-color: #f1641e; */
      /* color: white; */
      color: black;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      text-align: center;
}

#create-butt-bottom-storefront:hover {
      /* background-color: rgb(204,204,204); */
      background-color: #f1641e;
      /* color: black; */
      color: white;
      cursor: pointer;
}
