.hidden {
  display: none;
}

/* Navbar changes 8/27 */

.main-nav-bar {
  display: grid;
  grid-template-columns: 70px auto 130px;
  column-gap: 20px;
  padding-left: 0px;
  margin: 10px 10px;
}

.itsy-logo {
  color: #f1641e;
  text-decoration: none;
  font-size: 40px;
  margin-left: 10px;
  /* background-color: #3e452e; */
}

.search-bar-input {
  border: none;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
}

.search-bar {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 30px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.nav-link {
  width: 15px;
  margin-left: 0px;
  padding-left: 0px;
  align-self: center;
}

.profile-button {
  background-color: none;
  border: none;
}

.user-button {
  background-color: white;
  border: none;
}

.fa-user-circle {
  font-size: 18px;
  margin-left: -3px;
  margin-right: -3px;
}

.fa-heart {
  margin-top: -3px;
  margin-right: 2px;
  color: black;
}

.fa-store {
  margin-top: -3px;
  color: black;
}

/* profile modal */
.profile-dropdown {
  position: absolute;
}

.profile-dropdown {
  background-color: white;
  position: absolute;
  top: 60px;
}

.fa-cart-shopping {
  color: black;
  padding-left: -3px;
}

.fa-circle {
  color: #f1641e;
  position: absolute;
  right: 60px;
  top: 20px;
}
