.hidden {
  display: none;
}
/* .test {
  border: 1px solid red;
} */

/* Navbar changes 8/27 */

.main-nav-bar {
  display: grid;
  grid-template-columns: 70px auto 130px;
  column-gap: 20px;
  padding-left: 0px;
  margin: 10px 10px;
}

.itsy-logo {
  color: #f1641e;
  text-decoration: none;
  font-size: 40px;
  margin-left: 10px;
  /* background-color: #3e452e; */
}

.search-bar-input {
  border: none;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  width: 96%;
  height: 100%;
  outline: none;
  /* object-fit: cover; */
}

.search-bar {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 30px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.nav-link {
  width: 15px;
  margin-left: 0px;
  padding-left: 0px;
  align-self: center;
}

.profile-button {
  background-color: none;
  border: none;
}

.user-button {
  background-color: white;
  border: none;
  margin-right: 9px;
}

.user-button:hover {
  cursor: pointer;
}

.profile-dropdown button {
  color: white;
  background-color: #7b8a4b;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-dropdown button:hover {
  background-color: #e6521d;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#profile-dropdown-profile-butt {
  padding: 10px 7px 10px 0px;
}

.fa-user-circle {
  font-size: 18px;
  margin-left: -3px;
  margin-right: -3px;
}

.fa-heart {
  margin-top: -3px;
  margin-right: 2px;
  color: black;
}

.fa-store {
  margin-top: -3px;
  color: black;
}

/* profile modal */
.profile-dropdown {
  position: absolute;
}

.profile-dropdown {
  background-color: white;
  position: absolute;
  padding-right: 20px;
  top: 60px;
  right: 50px;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.fa-cart-shopping {
  color: black;
  padding-left: -3px;
}

.fa-circle {
  color: #f1641e;
  position: absolute;
  z-index: 1;
  right: 59px;
  top: 21px;
}

.fa-circle-inner {
  color: white;
  position: absolute;
  z-index: 1;
  right: 64px;
  top: 21px;
  font-size: 12px;
}

.hide-that-button {
  background-color: white;
  border: none;
}

.hide-that-button:hover {
  cursor: pointer;
}

#no-search-results {
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
}

#no-search-link {
  font-size: 20px;
}
