#largest-product-detail-div {
      position: relative;
}


#filter-holder-ProductDetails {
      font-size: 15px;
      font-weight: 200;
      /* text-decoration-line: underline; */
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(222,222,222);
}

#entire-page-productDetails {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

#page-productDetails {
      max-width: 1000px;
      display: grid;
      grid-template-columns: auto 35%;
      gap: 2.5rem;
      margin-top: 2rem;
}

#left-panel-productDetails {
      border: none;
}

#left-upper-panel-productDetails {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
}

#heart-icon-prod-detail {
      /* position: absolute; */
      /* z-index: 1; */
      /* left: 57%; */
      /* top: 8%; */
      /* background-color:#F4F1EA; */
      padding: 5px 5px 5px 5px;
      border-radius: 50%;
      margin-top: 1px;
      margin-left: 5px;
      /* height: 15px; */
}

#heart-icon-prod-detail:hover {
      box-shadow: 0 1px 5px 5px #f1641e;
      cursor: pointer;
      /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;; */
}

.fa-solid.fa-heart {
      color:#f1641e;
  }


#right-panel-productDetails {
      margin-bottom: 50px;
}

#primary-image-holder-productDetails {
      width: 100%;
      border-radius: 10px;
}

#primary-image-productDetails {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 7px;
      aspect-ratio: 4/3;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#supply-count-productDetails {
      color: rgb(166,26,46);
      font-weight: 700;
      font-size: 18px;
      margin-top: 7px;
}

.supply-count-productDetails {
      color: rgb(166,26,46);
      font-weight: 700;
      font-size: 18px;
      margin-top: 7px;
}

#price-productDetails {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 30px;
      margin-top: 7px;
}

#name-productDetails {
      font-weight: 200;
      margin-top: 10px;
      font-size: 18px;
}

#owner-productDetails {
      font-weight: 600;
      font-size: 17px;
      margin-top: 7px;
}

#return-productDetails {
      font-weight: 200;
      margin-top: 15px;
}

#how-many-productDetails {
      font-weight: 300;
      border: 1px solid rgb(222,222,222);
      border-radius: 5px;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 16px 56px;
      margin-bottom: 15px;
}

#how-many-productDetails:hover {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#reviews-holder-productDetails {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
}

#install-productDetails {
      margin-top: 30px;
      font-weight: 200;
      font-size: 13px;
}

.Add-productDetails {
      margin-top: 10px;
      background-color: black;
      color: white;
      text-align: center;
      padding: 10px;
      border-radius: 30px;
}

#star-section-productDetails {
      font-family: "Roboto";
      font-weight: 300;
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 20px;
      margin-left: -10px;
      gap: 1rem;
}

#star-image-productDetails {
      object-fit: contain;
}

#star-text-productDetails {
      font-size: 12px;
}

#truck-section-productDetails {
      font-family: "Roboto";
      font-weight: 300;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5px;
      margin-left: 2px;
      gap: 1rem;
}

#truck-image-productDetails {
      object-fit: contain;
}

#truck-text-productDetails {
      font-size: 13px;
      padding-left: 5px;
}

#desc-section-productDetails {
      border: none
}

#desc-productDetails {
      margin-top: -15px;
}

#cost-productDetails {
      font-weight: 100;
      font-size: 14px;
      margin-top: -15px;
}

#free-productDetails {
      font-weight: 300;
      font-size: 20px;
}

#offset-productDetails {
      font-family: "Roboto";
      font-weight: 300;
      font-size: 12px;
      background-color: #7b8a4b;
      color: white;
      padding: 10px;
      border-radius: 15px;
      margin-top: 10px;
}

#return-div-productDetails {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
}

#accepted-productDetails {
      font-weight: 300;
      font-size: 20px;
      text-decoration-line: underline;
      text-decoration-style: dashed;
}

#days-productDetails {
      font-weight: 300;
      font-size: 20px;
      text-decoration-line: underline;
      text-decoration-style: dashed;
}

#hand-section-productDetails {
      font-family: "Roboto";
      font-weight: 300;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
      margin-left: 2px;
      gap: 1rem;
}

#hand-image-productDetails {
      object-fit: contain;
}

#hand-text-productDetails {
      font-size: 13px;
      padding-left: 5px;
}

#add-item-cart-fav-butt-ProductDetails>button {
      /* background-color: rgb(221,235,227); */
      background-color: #7b8a4b;
      border: none;
      width: 100%;
}

#add-item-cart-fav-butt-ProductDetails>button:hover {
      cursor: pointer;
      background-color: #f1641e;
}

.hide{
      display: none;
      /* visibility: hidden; */
}

.show{
      display: inline;
      /* visibility: visible; */
}