.signup-modal {
    margin: 30px;
}

.signup-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    row-gap: 10px;
}

.signup-field {
    display: grid;
}

.signup-button {
    background-color: #7b8a4b;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.signup-title {
    font-weight: bold;
    font-size: 24px;
}

.signup-subtitle {
    font-size: 14px;
    margin-bottom: 20px;
}

.signup-button:hover {
    background-color: #f1641e;
    cursor: pointer;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}
