.components-border {
  border: 1px lightgrey solid;
  margin-bottom: 50px;
} 


.container {
  border: 1px lightgray solid;
}


.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.cart-img{
  width: 100%;
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.center{
  margin: auto;
}

.space-between{
  justify-content: space-between;
  align-items: center;
}

.lightgray{
  color: lightgray
}

.black-button{

background-color: black;
color: white;
border-radius: 50px;
padding: 10px 15px;
}