.components-border {
  /* border: 1px lightgrey solid; */
  /* font-size: 50px; */
  margin-bottom: 50px;
  /* margin-left: 100px;
  margin-right: 100px; */
  margin: auto;
}

/* .container {
  border: 1px sandybrown solid;
} */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.cart-img {
  width: 100%;
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-right: 10px;
}

.center {
  margin: auto;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.lightgray {
  border: 1px lightgrey solid;
  padding: 20px;
}

.black-button {
  padding: 10px 20px;
  border-radius: 20px;
  position: static;
  background-color: black;
  color: white;
  border: none;
}

.card {
  /* border: 1px lightgray solid; */
  padding: 10px;
  margin: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
}

.margin-right {
  margin-right: 50px;
}

.margin-bottom {
  margin-bottom: 100px;
}
/* .owner-item-delete{
  margin-right: 30px;
} */

.margin-left {
  margin-left: 50px;
}

.red {
  color: darkred;
  font-size: smaller;
}

.padding {
  padding: 0 30px;
}

.payment {
  width: 400px;
}

.item {
  width: 600px;
}


.item-img{
  
}

.greeting{
  font-size: 30px;
}