#favorites-entire-page {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#favorites-inner-div {
  width: 900px;
}

#my-favorites-sign {
  font-size: 35px;
  font-weight: 100;
}

#favorites-line {
  border-bottom: 2px solid rgb(222,222,222);
}

#favorites-butt {
  /* background-color: #f1641e;
  color: white;
  text-decoration: none;
  padding: 0 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center; */
  width: 140px;
  text-decoration: none;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: #f1641e;
}

/* #favorites-butt:hover {
  color: white;
  background-color: #f1641e;
} */

#empty-fav-Favorites {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 25px;
}

#category-title-Favorites {
  font-size: 30px;
  margin: 15px 0;
}

.suggested-categories-fav {
  border-top: 3px solid rgb(222,222,222);
}

.Collection-Category-Outer-Div:hover {
  cursor: pointer;
}

.Collection-Categories-fav {
  width: 100%;

}

.fav-products-list {
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    gap: 1.5rem;
    margin: 1rem;

    /* border-bottom: 2px solid rgb(222,222,222); */
}

.fav-products-holder {
    display: grid;
    margin-top: 20px;
}

.Collection-Categories-fav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.25rem;
}

#collection-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.Photo-Div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .25rem;
}

.Photo-Div-Left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: .25rem;
}

.Photo-Div-Right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: .25rem;
}

.LeftUpper-Photo {
  border-top-left-radius: 10px;
}

.LeftLower-Photo {
  border-bottom-left-radius: 10px;
}

.RightUpper-Photo {
  border-top-right-radius: 10px;
}

.RightLower-Photo {
  border-bottom-right-radius: 10px;
}

@media (min-width: 550px) {
    .fav-products-list {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 850px) {
    .fav-products-list {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    .fav-products-list {
      grid-template-columns: repeat(4, 1fr);
    }
}
