#favorites-entire-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#favorites-inner-div {
  width: 1000px;
}

#my-favorites-sign {
  font-size: 50px;
}

#favorites-line {
  border-bottom: 3px solid rgb(222,222,222);
}

#favorites-butt {
  background-color: rgb(221,235,227);
  color: black;
  text-decoration: none;
  padding: 0 424px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#favorites-butt:hover {
  color: white;
  background-color: #f1641e;
}

#collection-image {
  width: 30%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  border: none;
  margin-bottom: -8px;
  box-shadow: 0px 1px 5px 1px lightgray;
  border-radius: 2px;
}

.fav-products-list {
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    gap: 1.5rem;
    margin: 1rem;

    /* border-bottom: 2px solid rgb(222,222,222); */
}

.fav-products-holder {
    display: grid;
    margin-top: 20px;
}

.Collection-Categories-fav {
  display: grid;

}


@media (min-width: 550px) {
    .fav-products-list {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 850px) {
    .fav-products-list {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    .fav-products-list {
      grid-template-columns: repeat(4, 1fr);
    }
}
