#link-ProductCard {
      text-decoration: none;
      color: inherit;
}

#card-image-ProductCard {
      width: 100%;
      height: auto;
      aspect-ratio: 4/3;
      object-fit: cover;
      border: none;
      margin-bottom: -8px;
      box-shadow: 0px 1px 5px 1px lightgray;
      border-radius: 2px;
}
#card-holder-productCard {
      position: relative;
}

#card-image-ProductCard:hover {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#card-name-productCard {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 300;
}

#card-price-productCard {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 16px;
}

#fa-heart-product-card {
      position: absolute;
      z-index: 1;
      left: 87%;
      top: 5%;
      background-color:#F4F1EA;
      padding: 5px 5px 5px 5px;
      border-radius: 50%;
}

.fa-solid.fa-heart {
      color:#f1641e;
}
