
.user-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-review-inner-div-container {
    width: 900px;
}

#my-reviews-page-sign {
    font-size: 35px;
    font-weight: 100;
}

.unreview-product-img{
    height: 70px;
    width: 80px;
}

.unrev-prod-info {
    margin-left: 10px;
    font-size: 12px;

}


#review-line {
    border-bottom: 2px solid rgb(222,222,222);
}

#review-butt {
    width: 190px;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: #f1641e;
}

/* #review-butt:hover {
    cursor: pointer;
    background-color: rgb(221,235,227);
    color: black;
} */


.review-product-info {
    display: grid;
    grid-template-columns: 2fr 5fr;
}


.review-product-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 10px;
}

.user-review-stars {
    display: flex;
    margin: 10px 0px;
    column-gap: 8px
}

.not-bold {
    font-weight: normal
}

#individual-review-holder-Review-Page:hover {
    border: none;

}

.review-detail-button-container {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: flex-start;
    gap: 1rem;
}



.review-detail-button-container>button {
    background-color: #7b8a4b;
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
    border: none;
}

.review-detail-button-container>button:hover {
    background-color: #f1641e;
    cursor: pointer;
}



.user-review-container-sub {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;


}


.user-review-details {
    padding-bottom: 10px;
    margin: 30px 0;
    padding: 10px 0;
    padding-left: 25px;
    font-size: 18px;
    border-radius: 5px;
    width: 500px;
}

.user-review-details:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}



.review-product-info {
    padding-top: 10px;
    column-gap: 10px;
}

.review-product-text {
    font-weight: bold;
}

/* #help-small-business-outer-div {
    display: grid;
} */

.help-small-business {
    position: sticky;
    top: 5%;
    background-color: #7b8a4b;
    width: 75%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: white;
    padding: 17px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 100;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.help-small-business:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.help-small-bus-title {
    font-size: 20px;
    font-weight: 100;
}

/* .help-small-business>div {
    color: white;
    border: 1px solid red;
    position: sticky;
} */

/*
.learn-more {
   display: flex;
   justify-content: center;
} */

.unreviewed-title {
    display: flex;
    justify-content: center;
}

.unreviewed-purchases {
    display: flex;
    align-items: center;
}

#unreviewed-line {
    margin: 10px 0;
    border-bottom: 1px solid rgb(222,222,222);
}
